*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Design mobil*/

body{
    padding: 20px 15px;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo{
    width: 45px;
    cursor: pointer;
}

.menu{
    display: block;
}

.hamburger-menu{
    align-self: center;
}

.close-menu{
    display: block;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 80px;
}

.nav-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px transparent;
    width: 65%;
    margin-left: auto;
    margin-right: 0;
    height: 500vw;
    z-index: 2;
    background: hsl(36, 100%, 99%);
    padding-top: 30px;
    padding-left: 30px;
    box-shadow: -150px 0 0px rgba(68, 78, 103, 0.7 );
}

.nav-menu ul{
    list-style-type: none;
}

.nav-menu ul li{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 500;
}

.container{
    display: grid;
    gap: 50px;
    margin-bottom: 100px;
    z-index: 1;
}

p{
    font-size: 15px;
    font-weight: 400;
}

.banner-mobil{
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 20px;
}

.banner-desktop{
    display: none;
}

.about-title{
    font-size: 45px;
    font-weight: 800;
}

.description{
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.more{
    border: solid 1px transparent;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    padding: 6px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
}

.more:hover{
    background-color: hsl(240, 100%, 5%);
}

.news{
    background-color: hsl(240, 100%, 5%);
    padding: 20px 15px;
}

.news-title{
    color: hsl(35, 77%, 62%);
    margin-bottom: 20px;
}

.news h3{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

.news h3:hover{
    color: hsl(35, 77%, 62%);
}

.news p{
    color: hsl(233, 8%, 79%);
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 30px;
}

hr{
    color: hsl(233, 8%, 79%);
    margin-bottom: 20px;
}

.img-articles{
    float: left;
    width: 100px;
    margin-right: 15px;
}

.article{
    margin-bottom: 35px;
    display: block;
}

.number{
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.title-article{
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
}

.title-article:hover{
    color: hsl(5, 85%, 63%);
}

.article p{
    color: hsl(236, 13%, 42%);
    line-height: 25px;
    font-style: 14px;
}

/*desktop Design*/

@media only screen and (min-width: 1000px) {
    body{
        padding: 70px 80px;
        
    }

    .header{
        margin-bottom: 50px;
    }
    
    .menu, .close-menu{
        display: none;
    }
    .nav-menu{
        display: block;
        position: absolute;
        right: 80px;
        height: auto;
        box-shadow: 0 0 0;
        background-color: transparent;
        padding-top: 70px;
    }

    .nav-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: hsl(236, 13%, 42%);
    }

    .nav-menu ul li{
        cursor: pointer;
        margin-right: 55px;
    }

    .nav-menu ul .cat{
        margin-right: 0;
    }

    .nav-menu ul li:hover{
        color: hsl(35, 77%, 62%);
    }

    .container{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .about{
        grid-column: 1;
        grid-row: 1;
    }

    .banner-mobil{
        display: none;
    }

    .banner-desktop{
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }

    .text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 20px;
    }

    .about-title{
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .description{
        grid-column: 2;
        grid-row: 1;
    }

    .more{
        grid-column: 2;
        grid-row: 2;
        width:150px;
        height: 50px;
    }

    .news{
        grid-column: 2;
        grid-row: 1 ;
        padding: 50px 25px 20px 25px;
    }

    .news-title{
        color: hsl(35, 77%, 62%);
        margin-bottom: 30px;
        font-size: 50px;
    }

    

}

@media only screen and (min-width: 1200px) {
    .container{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
    
    .articles{
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-column: repeat(3, 1fr);
        gap: 15px;
    }

    .article1{
        grid-column: 1;
        width: 100%;
    }
    .article2{
        grid-column: 2;
        width: 100%;
    }
    .article3{
        grid-column: 3;
        width: 100%;
    }

    .img-articles{
        width: 90px;
        margin-bottom: 15px;
    }

    .article p{
        margin-left: 10px;
    }
}